<div class="row">
    <section id="task-dashboard" class="col-3">
        <div class="card" id="task-details">
            <header style="text-align: left !important;">
                <p><%= @task.content %></p>
            </header>
            <% if @task._belongs_to? @user %>
                <button class="btn btn-gray"
                    onclick="window.location.replace('/tasks/<%= @task.id %>/edit')">
                    Edit
                </button>
                <button class="btn btn-green float-right"
                    onclick="window.location.replace('/tasks/<%= @task.id %>/edit')">
                    Mark Complete
                </button>
            <% end %>
        </div>
        
        <div class="card" id="collaborators-card">
            <header style="text-align: left;">
                <p>Collaborators</p>
            </header>
            
            <% (@task_users ||= ['no collaborators']).each do |u| %>
                <p style="margin-bottom: 10px;">
                    <%= u.user.username if u.respond_to? :user %>
                    <% unless u.user == @user || !@user %>
                        [<a class="link cursor-pointer" onclick="newMessage('<%= u.user.email %>')">message</a>]
                    <% end %>
                </p>
            <% end %>
        </div>
        
        <% if @user %>
            <div class="card">
                <header style="text-align: left;">
                    <span>Chat</span>
                </header>
                
                <% if @user.chats.present? %>
                    <% @user.chats.each do |c| %>
                        <div class="chat" onclick="newMessage('<%= c.correspondent.email %>')">
                            <a class="link">
                                <%= c.correspondent.email %>
                            </a>
                            <p class="chat-snippet"><%= truncate(c.last_message.content, 20) %></p>
                        </div>
                    <% end %>
                <% else %>
                    <em>No conversations found</em>
                <% end %>
            </div>
            <% if @user.is_in @task %>
                <div class="card">
                    <header style="text-align: left;">
                        <span>Invite Collaborators</span>
                    </header>
                    
                    <form action="/invite_collaborators" method="post" id="invite-form">
                        <input type="hidden" name="task_id" value="<%= @task.id %>">
                        <div class="field">
                            <input type="text" class="control-form" name="emails" placeholder="Emails, separated by a comma">
                        </div>
                        
                        <div class="actions">
                            <button class="btn btn-block" type="submit">
                                Send Invites
                            </button>
                        </div>
                    </form>
                </div>
            <% else %>
                <form action="/join_task?id=<%= @task.id %>" method="post">
                    <button class="btn btn-block">
                        Join Task
                    </button>
                </form>
            <% end %>
        <% else %>
            <button onclick="window.location.replace('/login?redirect=<%= request.path_info %>')"
                class="btn btn-grey height-50 btn-block">
               Log in to join task 
            </button>
        <% end %>
    </section>
    
    <section id="task-<%= @task.id %>" class="col-9">
        <div class="card" id="task-card">
            <div id="updates-posted" class="row">
                <% if @task.task_updates.present? %>
                    <% @task.task_updates.each do |u| %>
                        <div class="col-3">
                            <div class="update card">
                                <p>
                                    <b><%= u.user.username %></b>: <%= u.content %>
                                </p>
                                <p class="update-timestamp">
                                    <%= u.created_at.strftime('%b %e, %Y') %>
                                </p>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <span id="no-updates">No updates</span>
                <% end %>
            </div>
            
            <% if @user && @user.is_in(@task) %>
                <div class="display-block" align="right">
                    <button class="btn btn-grey height-50" onclick="showNewUpdateForm()" id="new-update-btn">
                        Add An Update
                    </button>
                </div>
            <% end %>
            
            <form action="/add-update" method="post" id="new-update-form" data-remote="true">
                <input type="hidden" name="task_id" value="<%= @task.id %>" id="update-task-id">
                <textarea class="control-form" name="content"
                    placeholder="What's your update?" id="update-input"></textarea>
                    
                <a onclick="$('#new-update-form').hide()"
                    class="link no-underline close-input">close</a>
                    
                <button class="btn float-right">
                    submit
                </button>
            </form>
        </div>
    </section>
</div>

<script type="text/javascript">
    function newMessage(email) {
        var chatDiv =  document.createElement('div');
        var chatBox =  document.createElement('div');
        var chatHeader = document.createElement('header');
        var chatMessages = document.createElement('section');
        var chatForm = document.createElement('form');
        var chatCorrespondent = document.createElement('input');
        var chatInput = document.createElement('textarea');
        
        chatDiv.setAttribute('class', 'col-3');
        
        chatBox.setAttribute('class', 'chat-box');
        chatBox.setAttribute('id', 'chat-box-' + email);
        
        chatHeader.setAttribute('class', 'chat-header');
        chatHeader
        .innerHTML = '<span>' + email + '</span>' +
        `<span class="chat-close float-right" onclick="closeChat(this)" id="chat-close-` + email + `">&times;</span>`;
        
        chatMessages.setAttribute('class', 'chat-messages-container');
        chatMessages.setAttribute('id', 'chat-messages-container-' + email);
        
        chatForm.setAttribute('action', '/send_message');
        chatForm.setAttribute('method', 'post');
        chatForm.setAttribute('class', 'chat-box-form');
        chatForm.setAttribute('id', 'chat-box-form-' + email);
        chatForm.setAttribute('data-remote', 'true');
        
        chatCorrespondent.setAttribute('type', 'hidden');
        chatCorrespondent.setAttribute('name', 'recipient_email');
        chatCorrespondent.setAttribute('value', email);
        
        chatInput.setAttribute('class', 'control-form chat-input');
        chatInput.setAttribute('name', 'content');
        chatInput.setAttribute('placeholder', 'Type a new message');
        chatInput.setAttribute('id', 'chat-input-' + email)
        chatInput.setAttribute('autocomplete', 'off');
        chatInput.setAttribute('autofocus', 'true');
        chatInput.setAttribute('onkeyup', 'awaitSubmission(event, this)');
        
        chatForm.appendChild(chatCorrespondent);
        chatForm.appendChild(chatInput);
        
        chatBox.appendChild(chatHeader);
        chatBox.appendChild(chatMessages);
        chatBox.appendChild(chatForm);
        
        chatDiv.appendChild(chatBox);
        
        document.querySelector('#chat-box-container').appendChild(chatDiv);
    }
    
    function closeChat(elem) {
        var id = elem.id.split('chat-close-')[1];
        document.getElementById('chat-box-' + id).remove();
    }
    
    function awaitSubmission(e, elem) {
        var text = elem.value;
        var id = elem.id.split('chat-input-')[1];
        var form = document.getElementById('chat-box-form-' + id);
        var messagesContainer = document.getElementById('chat-messages-container-' + id);
        var messageBubble = document.createElement('div');
        
        messageBubble.setAttribute('class', 'message-bubble');
        messageBubble.innerHTML = text;
        
        if (e.keyCode == 13) {
            $.post('/send_message', { content: text, recipient_email: id });
            form.reset();
            messagesContainer.append(messageBubble);
        }
    }
    
    var updateForm = document.getElementById('new-update-form');
    var userEmail = $('#user-email').text();
    
    updateForm.addEventListener('submit', function(event, userEmail) {
        event.preventDefault();
        
        var text = document.querySelector('#update-input').value;
        var taskID = document.querySelector('#update-task-id').value;
        
        $.post('/add_update', {content: text, task_id: taskID});
        $('#updates-posted').append(`
            <div class="col-3">
                <div class="update card">
                    <p>
                        <b>` + userEmail + `</b>: ` + text + `
                    </p>
                    <p class="update-timestamp">
                        ` + "<%= Time.now.strftime('%b %e, %Y')%>" + `
                    </p>
                </div>
            </div>
        `);
            
        // form.reset();
    });
    
    function showNewUpdateForm() {
        $(this).hide();
        $('#new-update-form').show();
    }
    
    function minimize() {
        
    }
    
</script>