<div class="row">
    <section id="task-dashboard" class="col-3">
        <div class="card">
            <p>Status: <%= @task.status %></p>
            <% if @task._belongs_to? @user %>
                <p>
                    <a href="/tasks/<%= @task.id %>/edit">edit</a>
                </p>
            <% end %>
        </div>
        
        <div class="card">
            <header style="text-align: left;">
                <span>Collaborators</span>
            </header>
            
            <hr>
            
            <% (@task_users ||= ['no collaborators']).each do |u| %>
                <p>
                    <%= u.user.email if u.respond_to? :user %>
                    <% if u != @user %>
                        <a class="link cursor-pointer" onclick="newMessage('<%= u.user.email %>')">message</a>
                    <% end %>
                </p>
            <% end %>
        </div>
        
        <% if @user %>
            <div class="card">
                <header style="text-align: left;">
                    <span>Chat</span>
                </header>
                
                <hr>
                
                <% if @user.chats.present? %>
                    <% @user.chats.each do |c| %>
                        <p>
                            <%= c.correspondent.email %><br />
                            <%= truncate(c.last_message.content, 20) %>
                        </p>
                    <% end %>
                <% else %>
                    <em>No conversations found</em>
                <% end %>
            </div>
            <% if @user.is_in @task %>
                <div class="card">
                    <header style="text-align: left;">
                        <span>Invite Collaborators</span>
                    </header>
                    
                    <form action="/invite_collaborators" method="post" id="invite-form">
                        <input type="hidden" name="task_id" value="<%= @task.id %>">
                        <div class="field">
                            <input type="text" class="control-form" name="emails" placeholder="Emails, separated by a comma">
                        </div>
                        
                        <div class="actions">
                            <button class="btn btn-block" type="submit">
                                Send Invites
                            </button>
                        </div>
                    </form>
                </div>
            <% else %>
                <form action="/join_task?id=<%= @task.id %>" method="post">
                    <button class="btn btn-block">
                        Join Task
                    </button>
                </form>
            <% end %>
        <% else %>
            <button onclick="window.location.replace('/login?redirect=<%= request.path_info %>')"
                class="btn btn-block">
               Log in to join task 
            </button>
        <% end %>
    </section>
    
    <section id="task-<%= @task.id %>" class="col-9">
        <div class="card task-card">
            <header style="text-align: left;">
                <span>Task: <%= @task.id %></span>
            </header>
            
            <hr>
            
            <div class="task-content">
                <p align="left"><b>Summary</b>: <%= @task.content %></p>
            </div>
                
            <div class="task-content">
                <p align="left"><b>Priority</b>: <%= @task.priority %></p>
            </div>
        </div>
        <div class="card task-update-card">
            <header style="text-align: left;">
                <span>Updates</span>
            </header>
            
            <hr>
            
            <section id="updates-posted">
                <% if @task.task_updates.present? %>
                    <% @task.task_updates.each do |u| %>
                        <p>
                            <b><%= u.user.email %></b>: <%= u.content %>
                        </p>
                    <% end %>
                <% else %>
                    <em>No updats</em>
                <% end %>
            </section>
            
            <hr>
            
            <form action="/add_update" method="post">
                <input type="hidden" name="task_id" value="<%= @task.id %>">
                <textarea class="control-form" id="task-update-content"
                    name="content" placeholder="Add an update..."></textarea>
                    
                <div class="actions" align="right">
                    <button type="submit" class="btn">Add Update</button>
                </div>
            </form>
        </div>
    </section>
</div>

<script type="text/javascript">
    function newMessage(email) {
        var chatDiv =  document.createElement('div');
        var chatBox =  document.createElement('div');
        var chatHeader = document.createElement('header');
        var chatMessages = document.createElement('section');
        var chatForm = document.createElement('form');
        var chatCorrespondent = document.createElement('input');
        var chatInput = document.createElement('textarea');
        
        chatDiv.setAttribute('class', 'col-3');
        
        chatBox.setAttribute('class', 'chat-box');
        chatBox.setAttribute('id', 'chat-box-' + email);
        
        chatHeader.setAttribute('class', 'chat-header');
        chatHeader
        .innerHTML = '<span>' + email + '</span>' +
        `<span class="chat-close float-right" onclick="closeChat(this)" id="chat-close-` + email + `">&times;</span>`;
        
        chatMessages.setAttribute('class', 'chat-messages-container');
        chatMessages.setAttribute('id', 'chat-messages-container-' + email);
        
        chatForm.setAttribute('action', '/send_message');
        chatForm.setAttribute('method', 'post');
        chatForm.setAttribute('class', 'chat-box-form');
        chatForm.setAttribute('id', 'chat-box-form-' + email);
        chatForm.setAttribute('data-remote', 'true');
        
        chatCorrespondent.setAttribute('type', 'hidden');
        chatCorrespondent.setAttribute('name', 'recipient_email');
        chatCorrespondent.setAttribute('value', email);
        
        chatInput.setAttribute('class', 'control-form chat-input');
        chatInput.setAttribute('name', 'content');
        chatInput.setAttribute('placeholder', 'Type a new message');
        chatInput.setAttribute('id', 'chat-input-' + email)
        chatInput.setAttribute('autocomplete', 'off');
        chatInput.setAttribute('autofocus', 'true');
        chatInput.setAttribute('onkeyup', 'awaitSubmission(event, this)');
        
        chatForm.appendChild(chatCorrespondent);
        chatForm.appendChild(chatInput);
        
        chatBox.appendChild(chatHeader);
        chatBox.appendChild(chatMessages);
        chatBox.appendChild(chatForm);
        
        chatDiv.appendChild(chatBox);
        
        document.querySelector('#chat-box-container').appendChild(chatDiv);
    }
    
    function closeChat(elem) {
        var id = elem.id.split('chat-close-')[1];
        document.getElementById('chat-box-' + id).remove();
    }
    
    function awaitSubmission(e, elem) {
        var text = elem.value;
        var id = elem.id.split('chat-input-')[1];
        var form = document.getElementById('chat-box-form-' + id);
        var messagesContainer = document.getElementById('chat-messages-container-' + id);
        var messageBubble = document.createElement('div');
        
        messageBubble.setAttribute('class', 'message-bubble');
        messageBubble.innerHTML = text;
        
        if (e.keyCode == 13) {
            $.post('/send_message', { content: text, recipient_email: id });
            form.reset();
            messagesContainer.append(messageBubble);
        }
    }
</script>