<!DOCTYPE Html>
<html>
    <head>
        <title>Sinatra Auth</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/application.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    </head>
    
    <body>
        <span style='display: none;' id="user-email"><%= @user.email if @user %></span>
        <% if flash[:notice] %>
            <div id="flash-notice" class="flash-container">
                <%= flash[:notice] %>
                <a onclick="$('.flash-container').remove();" class="flash-close">
                    &times;
                </a>
            </div>
        <% end %>
        
        <nav class="app-navbar">
            <a href="/" class="navbar-brand nav-child">
                TaskCollab
            </a>
            <span class="navbar-links nav-child">
                <% if @user %>
                    <a href="/" class="nav-link">Feed</a>
                    <a href="/new" class="nav-link">New Task</a>
                    <a href="/tasks" class="nav-link">Tasks</a>
                    <form action="/logout" method="post" class="nav-link ">
                        <button type="submit" class="btn">
                            Logout
                        </button>
                    </form>
                <% else %>
                    <button class="nav-link btn" onclick="window.location.replace('/login?redirect=<%= request.path_info %>')">
                        Login
                    </button>
                    <button class="nav-link btn" onclick="window.location.replace('/register?redirect=<%= request.path_info %>')">
                        Register
                    </button>
                <% end %>
            </span>
            
        </nav>
        
        <section id="inner-body">
            <%= yield %>
        </section>
        
        <section id="chat-box-container"></section>
        
        <script type="text/javascript">
            function newMessage(email) {
                var chatDiv =  document.createElement('div');
                var chatBox =  document.createElement('div');
                var chatHeader = document.createElement('header');
                var chatMessages = document.createElement('section');
                var chatForm = document.createElement('form');
                var chatCorrespondent = document.createElement('input');
                var chatInput = document.createElement('textarea');
                
                chatDiv.setAttribute('class', 'col-3');
                
                chatBox.setAttribute('class', 'chat-box');
                chatBox.setAttribute('id', 'chat-box-' + email);
                
                chatHeader.setAttribute('class', 'chat-header');
                chatHeader
                .innerHTML = '<span>' + email + '</span>' +
                `<span class="chat-close float-right" onclick="closeChat(this)" id="chat-close-` + email + `">&times;</span>`;
                
                chatMessages.setAttribute('class', 'chat-messages-container');
                chatMessages.setAttribute('id', 'chat-messages-container-' + email);
                
                chatForm.setAttribute('action', '/send_message');
                chatForm.setAttribute('method', 'post');
                chatForm.setAttribute('class', 'chat-box-form');
                chatForm.setAttribute('id', 'chat-box-form-' + email);
                chatForm.setAttribute('data-remote', 'true');
                
                chatCorrespondent.setAttribute('type', 'hidden');
                chatCorrespondent.setAttribute('name', 'recipient_email');
                chatCorrespondent.setAttribute('value', email);
                
                chatInput.setAttribute('class', 'control-form chat-input');
                chatInput.setAttribute('name', 'content');
                chatInput.setAttribute('placeholder', 'Type a new message');
                chatInput.setAttribute('id', 'chat-input-' + email);
                chatInput.setAttribute('autocomplete', 'off');
                chatInput.setAttribute('autofocus', 'true');
                chatInput.setAttribute('onkeyup', 'awaitSubmission(event, this)');
                
                chatForm.appendChild(chatCorrespondent);
                chatForm.appendChild(chatInput);
                
                chatBox.appendChild(chatHeader);
                chatBox.appendChild(chatMessages);
                chatBox.appendChild(chatForm);
                
                chatDiv.appendChild(chatBox);
                
                document.querySelector('#chat-box-container').appendChild(chatDiv);
            }
            
            function closeChat(elem) {
                var id = elem.id.split('chat-close-')[1];
                document.getElementById('chat-box-' + id).remove();
            }
            
            function awaitSubmission(e, elem) {
                var text = elem.value;
                var id = elem.id.split('chat-input-')[1];
                var form = document.getElementById('chat-box-form-' + id);
                var messagesContainer = document.getElementById('chat-messages-container-' + id);
                var messageBubble = document.createElement('div');
                
                messageBubble.setAttribute('class', 'message-bubble');
                messageBubble.innerHTML = text;
                
                if (e.keyCode == 13) {
                    $.post('/send_message', { content: text, recipient_email: id });
                    form.reset();
                    messagesContainer.append(messageBubble);
                }
            }
            
            function showNewUpdateForm() {
                $(this).hide();
                $('#new-update-form').show();
            }
        </script>
    </body>
    
    <% if !@user %>
        <footer>
            <span align="center">
                &copy; Demesvar Destin | <a href="https://github.com/demesvardestin"
                    class="link">github</a>
            </span>
        </footer>
    <% end %>
</html>